* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.wrap {
  padding: 0 15px;
  max-width: 1024px;
  margin: auto;
}
.btn-core {
  border: none;
  background: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.btn-orange {
  background: #df7d2f;
  color: #fff;
}
.btn-gray {
  background: #f3f3f7;
}
.btn-core:hover {
  opacity: 0.75;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 120px;
  display: flex;
  justify-content: space-between;
}
.header-box {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-menu {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: inherit;
  padding: 10px 0;
}

.subheader {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 100;
  display: flex;
}
.subheader .wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu {
  display: flex;
  margin: 0;
  padding: 0;
}
.menu li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu li a {
  text-decoration: none;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}
.header .telephone {
  color: #df7d2f;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}
.login {
  border: none;
  padding: 10px 20px;
}

.banners {
  width: 100%;
}
.banner-slide {
  width: 100%;
}
.banner-slide img {
  max-width: 100%;
}

.title {
  font-size: 32px;
  color: #df7d2f;
}
.items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.item {
  width: calc(33.33% - 20px);
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: rgb(6 5 50 / 15%) 0px 4px 22px -6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item:hover .item-buy {
  opacity: 1;
}
.item:hover .item-image {
  transform: translateY(10px);
}
.item-image {
  position: relative;
  transition-duration: 0.3s;
}
.item-image img {
  width: 100%;
}
.item-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}
.item-ingridients {
  color: rgb(155, 155, 155);
  margin: 10px 0;
}
.item-customs {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
}
.item-custom {
  padding: 10px;
  background: rgb(235, 235, 235);
  flex-grow: 1;
  text-align: center;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.item-custom.active {
  background: #df7d2f;
  color: #fff;
}
.item-custom:hover {
  opacity: 0.75;
}
.item-buy {
  opacity: 0;
  transition-duration: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-price {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  color: #df7d2f;
}
.btn-buy {
  position: absolute;
  top: calc(50% - 20px);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(43, 43, 43);
  padding: 50px 0;
}
.footer-item {
  color: #ccc;
  margin-bottom: 20px;
}
.footer .logo {
  width: 140px;
  margin-bottom: 10px;
}
.footer .telephone {
  padding: 10px 20px;
  border: 1px solid rgb(95, 95, 95);
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-overlay {
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 40%);
  position: absolute;
}
.modal-content {
  position: relative;
  width: 80%;
  max-width: 800px;
  height: 50%;
  background: #fff;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  align-items: center;
}
.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-weight: bold;
  cursor: pointer;
}
.configurator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 20px;
}
.btn-medium {
  font-size: 18px;
  padding: 10px 20px;
}
.configurator-buy {
  display: flex;
  justify-content: space-between;
}
.configurator-buy .item-price {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.ingridient-chooise {
  display: flex;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  padding: 2px;
  background: #f3f3f7;
}
.configuration-ingridient {
  margin: 25px 0;
}
.ingridient-title {
  margin: 15px 0 5px 0;
}
.ingidient-item {
  padding: 8px 15px;
  border-radius: 0;
  flex-grow: 1;
}
.ingidient-item.btn-orange {
  border-radius: 20px;
}
